*{
    padding: 0%; margin: 0%;
}/*  zero a página */

body{
    background-color: rgb(109, 58, 146);
    padding: 10px;/* aplica em todos os 4 cantos */
    margin: 5px;/* aplica em todos os 4 cantos */
}

p,h1{
    color: white;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    padding: 15px;
}

ol{
    color: white;
    font-size: 20px;
}

ul, li, a{
    color: white;/* título */
    font-size: 20px;
    text-decoration: none;/* tiro a decoração/sem o alinhamento, tiro o sublinhado de links. para tirar as bolinhas usar: list-styles: none; */
    text-align: center;
    font-size: 15px;
}

table{
    border-radius: 2px;
    border: solid white 1px;
    color: white;
}

form, label, fieldset, legend{/*  se colocar o input, ele aumenta e não consigo digitar */
    padding: 10px;/* tamanho */
    margin-right: 30px;/*  emuprra os labels para a direita */
    color: white;
}

button{
    background-color:rgb(109, 58, 146);
    color: white;
    font-size: 15px;
    font-weight: bold;
    border-radius: 7px;
    border: solid white 1px;
    padding: 10px;
}

img{
    padding: 5px;
    border: solid red 1px;
}